.App {
    margin:0.5em;
    padding:1em;

    header {
        background-color: rgb(153, 153, 153);
        img {
            float: left;
            margin:1em;
            width:4em;
        }
        h2 {
            height:4em;
        }
    }

    .toolbar {
        background-color: gray;
        margin-top:0.5em;
        margin-bottom:0.5em;
        padding-left:1em;
        padding-right:1em;
        padding-top: 0.5em;;
        padding-bottom: 0.5em;
    }

    .list-books .item-book {
        padding-bottom:0.2em;
        margin-bottom:0.2em;
        border-bottom: 1px solid gray;

        &:hover {
            background-color: yellow;
        }
        .info .title {
            font-weight: bold;
            font-size: 1.2em;
        }
        .actions {
            text-align: right;
        }
    }

}