.App {
    min-width: 300px;

    main {
        margin-top: 2em;
        margin-bottom: 5em;
    }
    .list-books {
        margin-bottom: 5em;

    }
    .btn-add-book,
    .btn-delete-book {
        position: fixed;
        bottom: 1em;
        right: 1em;
    }
    .form-book,
    .form-settings {
        margin-top: 2em;
    }

}
